.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: 300;
  text-transform: uppercase;
  border: .5px solid transparent;
  cursor: pointer;
  transition: background-color 0.2s ease, border-color 0.2s ease, color 0.2s ease, box-shadow 0.2s ease;
  outline: none;
  padding: 3px 7px;
  min-height: 56px;
}

.btn--medium {
  padding: 3px 7px;
}

.btn--large {
  padding: 4px 7px;
}

.btn--medium.btn--extra-height {
  padding: 4px 7px;
}

.btn--large.btn--extra-height {
  padding: 5px 7px;
}

/* Variant Solid Black */
.btn--primary {
  background-color: #1B1A18;
  color: #ffffff;
  min-width: 260px;
}

.btn--primary:hover:not(:disabled) {
  background-color: #282624;
}

.btn--primary:focus-visible {
  background-color: #363331;
}

.btn--primary:disabled {
  cursor: not-allowed;
  background-color: #F3F2F2;
  color: #C2BFBC;
}

/* Variant Transparent */
.btn--secondary {
  background-color: #ffffff;
  color: #000000;
  border-color: #1B1A18;
  min-width: 260px;
}

.btn--secondary:hover:not(:disabled) {
  color: #504D49;
  border-color: #282624;
}

.btn--secondary:focus-visible {
  color: #000000;
  border-color: #363331;
}

.btn--secondary:disabled {
  cursor: not-allowed;
  color: #C2BFBC;
  border-color: #DBD9D7;
}

/* Variant Destroy */
.btn--destroy {
  background-color: #ffffff;
  color: #DF0000;
  padding: 3px 0;
}

.btn--destroy:hover:not(:disabled) {
  color: #b80000;
  border-color: #b80000;
}

.btn--destroy:focus-visible {
  color: #e00707;
}