.catalog-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
}

.product-grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  padding-bottom: 52px;
  width: 100%;
}

.product-grid li {
  list-style: none;
}

.end-catalog-text {
  margin: auto
}