.picker--wrapper {
  display: flex;
  flex-direction: column;
  gap: 24px
}

.color--name {
  font-size: 12px;
  font-weight: 300;
  line-height: 1;
  letter-spacing: 0em;
  text-transform: uppercase;
}

.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: solid 1px #CCCCCC;
  background-color: #ffffff;
  cursor: pointer;
  transition: border-color 0.2s ease, transform 0.1s ease;
}

.button--storage {
  padding: 24px;
  font-size: 14px;
  font-weight: 400;
  color: #000000;
  min-width: 95px;
}

.button--color {
  width: 24px;
  height: 24px;
  padding: 0;
}

.button--active {
  border-color: #000000;
}

.button-storage-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 8px;
}

.button-color-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 8px;
  gap: 16px
}