.product-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-content: space-between;
  width: 100%;
  max-width: 1200px;
}

.product-card__image-wrapper {
  position: relative;
  width: 329px;
  height: 257px;
  overflow: hidden;
}

.product-card__info-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 380px;
  gap: 64px;
  margin: auto;
}

.product-card__pice-label {
  font-size: 14px;
}

@media (min-width:728px) {
  .product-card {
    flex-direction: row;
  }

  .product-card__image-wrapper {
    width: 337px;
    height: 416px;
  }

  .product-card__pice-label {
    font-size: 20px;
  }
}

@media (min-width:1024px) {
  .product-card__image-wrapper {
    width: 510px;
    height: 630px;
  }
}